@use 'abstracts/variables' as var;
@use 'abstracts/variables' as mix;

.drop-down{
    position: relative;
    padding-bottom: 2.4rem;
    &__select{
        width: 100%;
        height: 4rem;
        line-height: 4rem;
        border-radius: 0.8rem;
        font-size: 1.5rem;
        color: var.$color-black;
        border: 1px solid var.$color-line_02;
        padding: 0 3.2rem 0 1.6rem;
        position: relative;
        cursor: pointer;
        &::after{
            content: '';
            width: 1.8rem;
            height: 1.8rem;
            display: inline-block;
            background: url('../images/icon/ico_arr_down.svg') 0 0 / 100% 100% no-repeat;
            position: absolute;
            top: 1rem;
            right: 1.6rem;
        }
    }
    &__list{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        background-color: white;
        position: absolute;
        top: calc(100% - 2.4rem);
        left: 0;
        display: none;
        z-index: 10;
    }
    &__item{
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        &.active{
            font-weight: 700;
        }
    }
    &.open{
        .drop-down__select{
            &::after{
                transform: rotate(-180deg);
            }
        }
        .drop-down__list{
            display: block;
        }
    }
    &.err{
        .errMsg{
            display: block;
        }
    }
    & + .input-box{
        .errMsg{
            display: none !important;
        }
    }
}
