@use 'abstracts/variables' as var;

.tooltip {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 100%; /* 셀 아래에 표시 */
    left: 50%;
    transform: translateX(-50%);
    padding: .8rem;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    text-align: left;
    border-radius:.4rem;
    white-space: nowrap;
    z-index: 10;
}

/* 롤오버 시 설명 표시 */
.highlight:hover .tooltip {
    display: block;
}