<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세탁사랑해</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="../js/libs/jquery-3.7.1.min.js"></script>
    <script src="../js/libs/swiper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  </head>
  <body>
    <div class="wrap lnb-login">
      <header class="header">
        <div class="header-bg"></div>
        <div class="header__box">
          <h1 class="header__logo"><a href="/html/main.html">세탁사랑해</a></h1>
          <div class="header__gnb">
            <ul class="gnb">
              <!-- 메뉴 목록은 GnbMenu 동적으로 추가-->
            </ul>
          </div>
        </div>
      </header>
      <header class="header-mo">
        <div class="header-mo__box">
          <h1 class="header-mo__logo"><a href="#none"></a></h1>
          <button class="menu-open"></button>
        </div>
        <div class="mo-gnb">
          <div class="mo-gnb__top">
                  <div class="toggle-box">
                    <label class="toggle theme" for="toggle2">
                      <input type="checkbox" id="toggle2" name="toggle2"><span class="toggle-slider"></span><span class="toggle-ico"></span>
                    </label>
                  </div>
            <button class="close"></button>
          </div>
          <!-- 로그아웃 시-->
          <div class="mo-gnb__user">
            <p>AI 단추를 통해<br/>맞춤 학습을 시작해 보세요.</p>
            <button class="login">로그인 / 회원가입</button>
          </div>
          <!-- 로그인 시
          <div class="mo-gnb__user">
              <p><em>이*한</em> 님! <br/>학습을 시작해 볼까요?</p>
          </div>
          -->
          <div class="mo-gnb__wrap">
            <ul class="gnb">
              <!-- 메뉴 목록은 GnbMenu 동적으로 추가-->
            </ul>
          </div>
          <!-- 로그인 시<button class="login">로그아웃</button>
          -->
        </div>
      </header>
      <footer class="footer">
        <div class="footer__inner">
          <!-- 2024.12.13 푸터 수정 : 부가통신사업신고 위치변경-->
          <div class="footer__info">
            <dl class="item">
              <dd>서울특별시 강북구 상양로 100길 20, 1층(수유동동)</dd>
            </dl>
          </div>
          <div class="footer__info">
            <dl class="item">
              <dt>사업자등록번호</dt>
              <dd>871-47-00353</dd>
            </dl>
          </div>
          <div class="footer__copy-small">Copyright ©세탁사랑해. All rights reserved.</div>
        </div>
      </footer>
    </div>
    <script src="../js/common.js"></script>
  </body>
</html>