@charset "UTF-8";
@use "../abstracts/variables" as var;
@use "../abstracts/variables" as mix;

.pages{
    width: 100%;
    &__visual{
        position: relative;
        height: 50rem;
        overflow: hidden;
        background: #81BEF7;
        .img-wrap{
            width: 50%;
            height: 50rem;
            position: absolute;
            top: 0;
            right: 0;
            > img{
                width: 100%;
                height: 100%;
            }
            &::after{
                content: '';
                width: 50rem;
                height: 50rem;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;                
                background: linear-gradient(-90deg,rgba(129, 190, 247, 0) 0%, rgba(129, 190, 247, 1) 100%);
            }
        }
        .txt-wrap{
            position: absolute;
            top: 42%; 
            left: 10rem;        
            display: flex;
            align-items: center;            
            h2{
                font-size: 12rem;
                font-weight: 700;
                color: #08298A;
                text-align: center;
            }
            > em{
                font-size: 3.2rem;
                line-height: 3.4rem;
                display: inline-block;
                color: #08298A;
            }            
        }        
    }
    &__cont{
        width: 98rem;
        margin: 0 auto;
        padding: 12rem 0;
        .wash-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            li{
                width: calc(33% - 1rem);
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 2rem;
                background: #efefef;
                padding: 2rem;
                > img{
                    width: 10rem;                    
                }
                > p{
                    font-size: 2rem;
                    color: #222;
                    font-weight: 500;
                    padding-top: 3rem;
                    text-align: center;
                }
            }
        }
    }
}