@charset "UTF-8";
@use "../abstracts/variables" as var;
@use "../abstracts/variables" as mix;

.main{
    width: 100%;
    @include mix.respond-to(terminal){
        padding-top: 6rem;
    }
    &__visual{
        position: relative;
        height: 50rem;
        overflow: hidden;
        background: #81BEF7;
        .img-wrap{
            width: 50%;
            height: 50rem;
            position: absolute;
            top: 0;
            right: 0;
            > img{
                width: 100%;
                height: 100%;
            }
            &::after{
                content: '';
                width: 50rem;
                height: 50rem;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;                
                background: linear-gradient(-90deg,rgba(129, 190, 247, 0) 0%, rgba(129, 190, 247, 1) 100%);
            }
        }
        .txt-wrap{
            position: absolute;
            top: 42%; 
            left: 10rem;        
            display: flex;
            align-items: center;            
            h2{
                font-size: 12rem;
                font-weight: 700;
                color: #08298A;
                text-align: center;
            }
            > em{
                font-size: 3.2rem;
                line-height: 3.4rem;
                display: inline-block;
                color: #08298A;
            }            
        }
        @include mix.respond-to(terminal){
            width: 100%;
            height: 25rem;
            .img-wrap{
                height: 25rem;
            }
            .txt-wrap{
                top: 10rem;
                h2{
                    font-size: 6rem;
                }
                > em{
                    font-size: 2.2rem;
                    line-height: 2.8rem;;
                }
            }
        }   
        @include mix.respond-to(mobile){
            .txt-wrap{
                left: 3rem;
            }
        }            
    }
    &__cont{
        width: 100%;
        max-width: 98rem;
        margin: 0 auto;
        padding: 12rem 0;
        @include mix.respond-to(mobile){
            padding: 6rem 2rem;
        }
        .counsel{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .call{
                width: calc(50% - 2rem);
                height: 20rem;
                background-color: #045FB4;
                border-radius: 2rem;
                position: relative;
                &::after{
                    content: '';
                    width: 8rem;
                    height: 8rem;
                    display: inline-block;
                    background: url('../../images/icon/ico_call.svg') center center / 100% 100% no-repeat;
                    position: absolute;
                    top: 2rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
                > em{
                    width: 100%;
                    text-align: center;
                    font-size: 3.2rem;
                    font-weight: 600;
                    display: inline-block;
                    color: #fff;
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    > p{
                        font-size: 1.8rem;
                        color: #fff;
                    }                    
                }
            }
            .kakao{
                width: calc(50% - 2rem);
                height: 20rem;
                background-color: #fae100;
                border-radius: 2rem;
                position: relative;
                &::after{
                    content: '';
                    width: 12rem;
                    height: 12rem;
                    display: inline-block;
                    background: url('../../images/icon/ico_kakao_logo.png') center center / 100% 100% no-repeat;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                > em{
                    width: 100%;
                    text-align: center;
                    font-size: 3.2rem;
                    font-weight: 700;
                    display: inline-block;
                    color: #371d12;
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    > p{
                        font-size: 1.8rem;
                        color: #371d12;
                    }
                }                
            } 
            @include mix.respond-to(mobile){
                flex-direction: column;
                .call{
                    width: 100%;
                }
                .kakao{
                    width: 100%;
                    margin-top: 3rem;
                }
            }              
        }   
        .price{
            margin-top: 10rem;
            em.txt-s{
                width: 100%;
                display: inline-block;
                font-size: 1.6rem;
                text-align: right;
                color: #666;
                margin-top: 1rem;
            }
            .txt-sub{
                font-size: 2.4rem;
                font-weight: 600;
                color: #045FB4;
                text-align: center;
                padding: 3rem 0;
            }
        }  
    }
}