extends ./layout/layout

block content
    .pages
        .pages__visual.company
            .img-wrap
                img(src="../images/img/img_main_visual.jpg")
            .txt-wrap
                em 위생적이고 청결한 세탁 <br/>빠르고 정확한 배송<br/>
                h2 세탁사랑
        .pages__cont 
            strong 믿을 수 있는 세탁 파트너, 형제워싱 입니다.
            div.cont-txt 형제워싱은 미용실, 헬스장, 마사지샵, 병원 등 다양한 업종의 사업장에 특화된 전문 상업용 세탁 서비스를 제공합니다. <br/>다년간 축적된 노하우와 산업용 장비를 바탕으로 수건, 유니폼, 침구류 등 다양한 품목을 위생적이고 신속하게 세탁해드립니다.<br/>
                ul.point
                    li ✅ 정기 수거 및 배송 서비스로 운영의 번거로움을 덜어드리고
                    li ✅ 항균 세탁 시스템으로 청결은 물론 안전까지 책임지며
                    li ✅ 업종별 특성에 맞춘 맞춤형 관리 솔루션을 제안합니다.
                | 청결은 고객 신뢰의 시작입니다.<br/>귀하의 비즈니스 품격을 높이는 세탁 파트너, 형제워싱과 함께 하세요.
            .table 
                table 
                    thead  
                        tr 
                            th(colspan="2") 세탁기
                    tbody 
                        tr 
                            td 50Kg
                            td 2대
                        tr 
                            td 60kg
                            td 1대
                    thead 
                        tr 
                            th(colspan="2") 건조기
                    tbody
                        tr 
                            td 50Kg 
                            td 3대
                        tr 
                            td 80Kg
                            td 2대
                    thead 
                        tr 
                            th(colspan="2") 200kcal/h 급 보일러 사용                                         
                        



block bottomScripts
    script.
    link(rel="stylesheet", href="../css/pages/pages.css")
