extends ./layout/layout
include ./layout/lnb.pug
include ./components/layerPop.pug

block content
    .pages
        .pages__visual.info
            .img-wrap
                img(src="../images/img/img_main_visual.jpg")
            .txt-wrap
                em 위생적이고 청결한 세탁 <br/>빠르고 정확한 배송<br/>
                h2 세탁사랑
        .pages__cont 
            ul.wash-info 
                li 
                    img(src='../images/img/ico_delivery.png')
                    p 원하는 장소에<br/> 세탁물을 수거합니다
                li 
                    img(src='../images/img/ico_wash.png')
                    p 항균 세탁 시스템으로<br/> 청결하게 세탁합니다 
                li 
                    img(src='../images/img/ico_delivery.png')
                    p 빠르고 정확하게<br/> 배송해 드립니다.               


block bottomScripts
    script.
    link(rel="stylesheet", href="../css/pages/info.css")
