extends ./layout/layout
include ./layout/lnb.pug
include ./components/layerPop.pug

block content
    .pages
        .pages__visual.company
            .img-wrap
                img(src="../images/img/img_main_visual.jpg")
            .txt-wrap
                em 위생적이고 청결한 세탁 <br/>빠르고 정확한 배송<br/>
                h2 세탁사랑
        .pages__cont 
            .price
                .table
                    table
                        thead 
                            tr 
                                th(colspan="2") 미용실
                        tbody 
                            tr 
                                td 1자루
                                td 300,000원 ~
                            tr 
                                td 한번접기
                                td 서비스
                            tr 
                                td 2번접기
                                td 30,000원 ~
                .table                
                    table
                        thead 
                            tr 
                                th(colspan="2") 헬스장
                        tbody 
                            tr 
                                td 1자루
                                td 10,000원 ~
                .table                
                    table
                        thead 
                            tr 
                                th(colspan="2") 마사지샵
                        tbody 
                            tr 
                                td 1자루
                                td 400,000원 ~                    
                            tr 
                                td(colspan="2") 오일 걱정 없이 삶아서 세탁합니다.(스팀건조기 보유)        
                em.txt-s * vat 별도                       

block bottomScripts
    script.
    link(rel="stylesheet", href="../css/pages/pages.css")
