include ./../components/toggleButton.pug

header.header
    .header-bg
    .header__box
        h1.header__logo
            a(href="/html/main.html") 세탁사랑해
        .header__gnb
            ul.gnb
                // 메뉴 목록은 GnbMenu 동적으로 추가

header.header-mo
    .header-mo__box
        h1.header-mo__logo
            a(href="/html/main.html") 세탁사랑해
        button.menu-open
    .mo-gnb
        .mo-gnb__top
            button.close
        .mo-gnb__wrap
            ul.gnb
                li.gnb__item 
                    a(href="/html/company.html") 회사소개
                li.gnb__item 
                    a(href="/html/info.html") 세탁안내
                li.gnb__item 
                    a(href="/html/delivery.html") 배송안내
                li.gnb__item 
                    a(href="/html/price.html") 가격안내                                                            
