doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 세탁사랑해
		link(rel="stylesheet", href="/css/base.css")
		link(rel="stylesheet", href="/css/layout.css")
		link(rel="stylesheet", href="/css/components.css")
		link(rel="stylesheet" , href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="stylesheet" , href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css")
		script(src="../js/libs/jquery-3.7.1.min.js")
		script(src="../js/libs/swiper.min.js")
		script(src="https://code.jquery.com/ui/1.14.1/jquery-ui.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
	body
		div.wrap.lnb-login
			include header
			block content
			include footer
		script(src="../js/common.js")
		block bottomScripts